@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

  *, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: "avenir"
}
img {
  width: 100%;
  display: inline-block;
}

body {
  margin: 0;
  text-align: center;
}

header {
  padding: .5rem 0;
  background-color: #000000;
  text-align: center;
}

h1 {
  margin: 0 0 .5rem;
  font-size: 1.5rem;
  color: #fff;
}

h2 {
  font-family: "Dancing script";
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  color: #fff;
}

nav li {
  text-align: left;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

nav a:hover {
  background-color: #333;
  color: #B6FFFF;
}

.img-flex {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.banner {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
  margin: 0;
  position: relative;
}

.card {
  width: 100%;
  margin: 0;
  padding: .2em;
  font-style: normal;
  color: #000000;
  line-height: 1.4;
}

.card-body {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 30rem;
  width: 100%;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  padding: 0 2rem;
  transform: translate(-50%, -50%);
}

p {
  margin: 0;
  color: #fff;
}

.menu {
  display: block;
}

.cards {
  display: inline-block;
  width: 100%;
  position: relative;
}

.cards p {
   position: absolute;
   width: 100%;
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
}


@media only screen and (min-width: 25em) {
  nav li {
    display: inline-block;
    text-align: center;
  }

  img {
    width: 100%;
  }

  .card-title {
    font-size: 2rem;
    line-height: 1.3;
  }

  .card-body {
    font-size: 1rem;
}

 section {
   display: block;
 }

@media only screen and (min-width: 38em) {
  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .cards {
    width: 48%;
  }

  .card-title {
    font-size: 3rem;
    line-height: 1.4;
  }

  .card-body {
    font-size: 1.5rem;

}

@media only screen and (min-width: 60em) {
  html {
    font-size: 120%;
    line-height: 1.5;
  }


  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  nav li {
    text-align: right;
    }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
    }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .card-title {
    font-size: 4rem;
    line-height: 1.5;
  }

  .card-body {
    font-size: 2rem;

}

.cards {
  float: left;
  width: 25%;
}


@media only screen and (min-width: 90em) {
  html {
    font-size: 130%;
    line-height: 1.5;
  }

  nav li {
    text-align: right;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .card-title {
    font-size: 5rem;
    line-height: 1.5;
  }

  .card-bod {
    font-size: 2.5rem;
  }

  .cards {
    width: 25%;
    display: inline-block;
  }
}
